<%- include('header') -%>

<link rel='stylesheet' href='/stylesheets/card_list.css'/>

<div id="container">
    <div id="content">
        <% for (var i = 0; i < cards.length; i++) { %>
          <div id='each-card'>
            <div class="label"><b>Name:</b> <%= cards[i].name %></div>
            <div class="label"><b>Number:</b> <%= cards[i].number %></div>
            <div class="label"><b>Expiry Month:</b> <%= cards[i].expiry_month %></div>
            <div class="label"><b>Expiry Year:</b> <%= cards[i].expiry_year %></div>
          </div>
          <hr>
        <% } %>
    </div>
    <div id='back-buttons'>
      <a href='/cards/new'><button>Add a new card</button></a>
      <a href='/../dashboard'><button>Return to Dashboard</a>
    </div>
</div>

<%- include('footer') -%>