<link rel='stylesheet' href='stylesheets/dashboard.css'>
<%- include('header') %>

<div id='container'>
    <div id='white-space'>
      <div id="mapid"></div>
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
        <script src="javascripts/map.js"></script>

  <!-- bottom half of page after map -->
      <div id='outline'>
      <form action='/payment' method='GET'>
    <!-- vehicle, cards -->
        <div id='left-div'>
          <div id='vehicle-box' class='boxes'>
            <select name='vehicle' class='dropdown'>
              <option value='select' class='dropdown-opt'>Select Vehicle</option>
              <% for (var i = 0; i < vehicles.length; i++) { %>
                <option value=<%= vehicles[i]._id %> class="dropdown-opt">
                  <%= vehicles[i].nickname %>
                </option>
              <% } %>
            </select>
            <br>
            <a class='links' href='/vehicles'>+ Add a new vehicle</a>
          </div>
          <div id='card-box' class='boxes'>
            <select name='card' class='dropdown'>
            <option name='card' value='select' class='dropdown-opt'>Select Card</option>
            <% for (var i = 0; i < cards.length; i++) { %>
                <option value=<%= cards[i]._id %> class="dropdown-opt">
                  <%= cards[i].number %>
                </option>
              <% } %>
            </select>
            <br>
            <a class='links' href='/cards/new'>+ Add a new card</a>
            <p style="display:inline;">|</p>
            <a class='links' href='/cards/all'> Go to my cards</a>
          </div>

        <div id='current-lot' class='boxes'>
          <h1 class='heading'>Current lot:</h1>
          <input type='text' id="lot-input" name='lot'>
        </div>
      </div>

    <!-- parked until, type, pay -->
      <div id='right-div'>
        <div id='time-calc' class='boxes'>
          <select id="time-type" name='rate-type' class='dropdown'>
            <option value='rate-type' class='dropdown-opt'>Select rate type</option>
            <option value='hourly' class='dropdown-opt'>hourly</option>
            <option value='daily' class='dropdown-opt'>daily</option>
          </select>
          <br>
        <h1 class='heading'>How many hours would you like to park for?</h1>
          <input id='parking-time' type='number' name='hours' value=0>
        </div>
        <div id='payment' class='boxes'>
          <h1 class='heading'>Amount due:</h1>
            <span>$</span><input id="total-due" type='text' value=0 name="total">
            <h1 class='heading subhead'>HOURLY:</h1>
            <!-- need to multiply by hours entered above -->
            <span>$</span><span id="hourly">0.00</span>
            <h1 class='heading subhead'>DAILY (until <%= date %>):</h1>
            <span>$</span><span id="daily">0.00</span>
        </div>
        <input id='pay-button' type='submit' value='Pay'>
      </form>

      </div>
  </div>
</div>


<%- include('footer') %>
