<link rel='stylesheet' href='stylesheets/dashboard.css'>
<%- include('header') %>

<div id='container'>
    <div id='white-space'>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  Successfully logged in 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  
</div>
      <div id="mapid"></div>
      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""></script>
      <script src="javascripts/map.js"></script>

  <!-- bottom half of page after map -->
      <div id='outline'>
    <!-- vehicle, cards -->
        <div id='left-div'>
          <div id='vehicle-box' class='boxes'>
            <select class='dropdown'>
              <option value='select' class='dropdown-opt'>Select Vehicle:</option>
              <% for (var i = 0; i < vehicles.length; i++) { %>
                <option value=<%= vehicles[i] %> class="dropdown-opt">
                  <%= vehicles[i] %>
                </option>
              <% } %>
            </select>
            <a class='links' href='#'>+ Add a new vehicle</a>
          </div>

          <div id='payment-box' class='boxes'>
            <select class='dropdown'>
            <option value='select' class='dropdown-opt'>Select Card:</option>
            <% for (var i = 0; i < cards.length; i++) { %>
                <option value=<%= cards[i] %> class="dropdown-opt">
                  <%= cards[i] %>
                </option>
              <% } %>
            </select>
            <a class='links' href='#'>+ Add a new card</a>
          </div>

        <div id='current-lot' class='boxes'>
          <h1 class='heading'>Current lot:</h1>
            <input type='text' pattern='[a-zA-Z0-9]'>
              <div id='lot-validation'>
                <p>If lot does not exist in database, display error here.</p>
              </div>
        </div>
      </div>

    <!-- parked until, type, pay -->
      <div id='right-div'>
        <div id='time-calc' class='boxes'>
          <h1 class='heading'>How many hours would you like to park for?</h1>
            <input id='parking-time' type='number'>
            <input type='submit' value='check price'>
            <script> var hours = document.getElementById("parking-time").value; </script>
            <p><script> document.write(hours) </script></p>
        </div>
        <!-- if HOURLY is selected, make the time input REQUIRED -->
        <!-- if DAILY is selected, display start, end time -->
        <div id='rate-type' class='boxes'>
          <h1 class='heading'>Type:</h1>
            <select id="check-input">
              <option value='hourly' name='hourly' class='dropdown-opt'>hourly</option>
              <option value='daily' name='daily' class='dropdown-opt'>daily</option>
            </select>
        </div>

        <!-- calculate hourly rates if HOURLY selected, display daily if DAILY selected  -->
        <div id='payment' class='boxes'>
          <h1 class='heading'>Amount due:</h1>
              <h1 class='heading subhead'>HOURLY:</h1>
              <!-- need to multiply by hours entered above -->
              <%= ratesHourly[0]%>
              <h1 class='heading subhead'>DAILY:</h1>
              <%= ratesDaily[0] %>
        </div>

        <input id='pay-button' type='submit' value='Pay'>

      </div>
   </div>
</div>


<%- include('footer') %>
