<%- include('header') -%>

<link rel='stylesheet' href='/stylesheets/new_vehicle.css'/>

<div id="center-field">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="label"><b>License Plate:</b> <%= newVehicle.license_plate %></div>
      <div class="label"><b>Nickname:</b> <%= newVehicle.nickname %></div>
      <div class="label"><b>Make/Brand:</b> <%= newVehicle.make %></div>
    </div>
  </div>
</div>

<%- include('footer') -%>