<%- include('header') %>

<link rel='stylesheet' href='stylesheets/payment.css'/>
<div id='container'>
  <div id='white-space'>
       <div class="container">
        <div>
          <div>
            <div class="label"><b>Name:</b> <%= card.name %></div>
            <div class="label"><b>Number:</b> <%= card.number %></div>
            <div class="label"><b>Expiry Month:</b> <%= card.expiry_month %></div>
            <div class="label"><b>Expiry Year:</b> <%= card.expiry_year %></div>
          </div>
          <br>
          <div>
            <div class="label"><b>Nickame:</b> <%= vehicle.nickname %></div>
            <div class="label"><b>License Plate:</b> <%= vehicle.license_plate %></div>
            <div class="label"><b>Make:</b> <%= vehicle.make %></div>
          </div>
          <br>
          <div>
            <div class="label"><b>Lot #<%= lot.number %></b></div>
            <div class="label"><b>Total: $<%= total %></b></div>
          </div>
        </div>
        <form action='/payment' method='POST'>
          <input type="hidden" value=<%= vehicle._id %> name='vehicle_id'>
          <input type="hidden" value=<%= card._id %> name='card_id'>
          <input type="hidden" value=<%= lot._id %> name='lot_id'>
          <input type="hidden" value=<%= total %> name='total'>
          <input type="hidden" value=<%= rate_type %> name='rate_type'>
          <input type="hidden" value=<%= hours %> name='hours'>
          <input type='text' placeholder='cvc' name='cvc'>
          <input class='form-control btn btn-primary submit-button' value='Pay' type="submit">
        </form>
        <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-4'>
            </div>
          </form>
        </div>
        <div class='col-md-4'></div>
    </div>
</div>

       </div>
</div>


<script src="javascripts/payment.js"></script>

<%- include('footer') -%>
