<%- include('header') -%>

<link rel='stylesheet' href='/stylesheets/new_vehicle.css'/>

<div id="center-field">
  <div class="wrapper fadeInDown">
    <div id="formContent">
        <% for (var i = 0; i < vehicles.length; i++) { %>
          <div class="label"><b>License Plate:</b> <%= vehicles[i].license_plate %></div>
          <div class="label"><b>Nickname:</b> <%= vehicles[i].nickname %></div>
          <div class="label"><b>Make/Brand:</b> <%= vehicles[i].make %></div>
        <% } %>
    </div>
  </div>
</div>

<%- include('footer') -%>